body {
  background-color: #262e3b;
  font-family: "Poppins", sans-serif;
  color: white;
}

a {
  color: #2aadf8;
}

header {
  border-bottom: 1px solid #262e3b;
  padding: 0 0 30px 0;
}

.weather-app {
  background: #181b29;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 10px 50px rgb(2, 8, 34, 0.7);
  padding: 30px;
  border-radius: 10px;
}

.search-form-input {
  background: #262e3b;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #2aadf8;
  border: none;
  margin-left: 5px;
  color: white;
  padding: 15px 30px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 700;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 37px;
  line-height: 50px;
}

.weather-details {
  font-size: 17px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

.weather-details strong {
  color: #2aadf8;
}
.weather-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 45px;
  margin-top: 28px;
}

.weather-app-temperature {
  font-size: 90px;
  font-weight: 500;
  margin-left: 10px;
}

.weather-app-unit {
  margin-top: 24px;
  font-size: 28px;
}

footer {
  border-top: 1px solid #262e3b;
  padding: 30px 0 0 0;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
