body {
  background-color: #262e3b;
  font-family: "Poppins", sans-serif;
  color: white;
}

.weather-app {
  background: #181b29;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 10px 50px rgb(2, 8, 34, 0.7);
  padding: 30px;
  border-radius: 10px;
}

.search-form-input {
  background: #262e3b;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #2aadf8;
  border: none;
  margin-left: 5px;
  color: white;
  padding: 15px 30px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
}

a {
  color: #6395bb;
}
